%h1活动通
%div(class="index-action user-div-5" )
  %h2(class="header-left session-header-left" )
    用户登陆
  %h5(class="user-h5")
    = link_to "用户注册", new_user_path
  %h5(class="footer session-footer-right"  )
    = link_to "忘记密码" ,users_forget_password_page_path
  %br
  %div(class="index-login"style="margin-top:50px" )
    %div(class="input-prepend"style="margin:30px")
      = form_for (:session), url:sessions_path do |f|
        = f.label '帐  号',:class=>"user-on add-on",:style=>"height:10%"
        = f.text_field :name,:class=>"user-input",:placeholder=>'请输入您的账号'
        %br
        %br
        = f.label "密  码",:class=>"user-on add-on",:style=>"height:10%"
        = f.text_field :password ,:type=>"password",:class=>"user-input",:placeholder=>'请输入您的密码'

        %div(style="text-align:center;")
        %br
        = f.submit "登  录", class: "btn-primary",:style=>"width:25%"
    =render 'layouts/error'
