%h1活动通
%div(class="index-action" style="text-align:center;width:550px;height:100px;background-color:#e8e8e8;margin-left:30%;margin-top:5%;padding:20px" )
  %h2(class="header-left"style="margin-left:5px;margin-top:10px;" )
    用户登陆
  %h5(style="position:absolute;right:10%;margin-top:10px")
    = link_to "用户注册", new_user_path
  %h5(class="footer" style="position:absolute;right:10%;margin-top:200px"  )
    = link_to "忘记密码"
  %br
  %div(class="index-login"style="margin-top:50px" )
    %div(class="input-prepend"style="margin:30px")
      = form_for (:session), url:sessions_path do |f|
        = f.label '帐  号',:class=>"add-on",:style=>"height:10%"
        = f.text_field :name,:style=>"height:10%;width:70%"
        %br
        %br
        = f.label "密  码",:class=>"add-on",:style=>"height:10%"
        = f.text_field :password ,:type=>"password",:style=>"height:10%;width:70%"

        %div(style="text-align:center;")
        %br
        = f.submit "登  录", class: "btn-primary",:style=>"width:25%"
    -if flash[:error]
      .label-warning(style="width:70%;margin-left:15%;background-color:#FFE4E1;" )
        %p(style="color:#7E4F05;font-size:16px" )
          密码或用户名错误

