%h1活动通
%div(class="index-action user-div-1" )
  %h3(class="header-left")
    管理员注册
  %a(ng-click="register()"class="header-right"style="right:20%;margin:30px" )
  %div(class="input-prepend"style="margin:30px" )
    = form_for :admins,url: admins_path,method: :post do |f|
      = f.label '帐  号',:class=>"user-on add-on"
      = f.text_field :name,:class=>"user-input",:placeholder=>'请输入您的账号'
      %br
      %br
      = f.label "设置密码",:class=>"user-on add-on"
      = f.text_field :password ,:class=>"user-input",:placeholder=>'请输入您的密码'
      %br
      %br
      = f.label '确认密码',:class=>"add-on user-on"
      = f.text_field :password_confirmation,:type=>"password",:class=>"user-input",:placeholder=>'请输入您的密码'
      %br
      %br
      = f.label '密保问题',:class=>"add-on user-on"
      = f.text_field :question,:class=>"user-input",:placeholder=>'请输入您的密保问题'
      %br
      %br
      = f.label '密保答案',:class=>"add-on user-on"
      = f.text_field :answer,:class=>"user-input",:placeholder=>'请输入您的密保答案'
      %br
      %div(style="text-align:center;")
      %br
      = f.submit "提 交", class: "btn-primary",:style=>"width:110%"
  %br