=render "layouts/admins_header"
%div(class="user-div-3" )
  %div(class="user-div-4" )
    =link_to '首页' ,admin_path(@id)
    %span(style="color:gray") / 修改密码

%div(class="index-action user-div-1" )
  %div(class="index-login"style="margin-top:10px" )
    %div(class="input-prepend"style="margin:30px")
      = form_for :users_password,url:admins_repair_user_password_path(@user[:name]) do |f|
        = f.label '帐  号',:class=>"user-on add-on "
        = f.text_field :name,:class=>"user-input",:value=>@user[:name],:disabled=>'true'

        %br
        %br
        = f.label "请设置密码",:class=>"user-on add-on "
        = f.text_field :password ,:type=>"password",:class=>"user-input"
        %br
        %br
        = f.label '请确认密码',:class=>"user-on add-on "
        = f.text_field :password_confirmation,:type=>"password",:class=>"user-input"
        %br
        %div(style="text-align:center;")
          %br
          = f.submit "提 交", class: "btn-primary",:style=>"width:70%"
          %br
    =render 'layouts/flash'
    =render 'layouts/error'