%h1活动通
%div(class="index-action" style="text-align:center;width:550px;background-color:#e8e8e8;margin-left:30%;margin-top:5%;padding:20px")
  %div(class="index-login"style="margin-top:10px" )
    %h3(class="header-left"style="margin-left:5px;margin-top:10px;" )
      重置密码
    %h5(style="position:absolute;right:10%;margin-top:1px")
      = link_to "用户登陆", new_session_path
  %div(class="index-login"style="margin-top:50px" )
    %div(class="input-prepend"style="margin:30px")
      = form_for :users,url:users_change_password_path do |f|
        = f.label "设置密码",:class=>"add-on",:style=>"height:10%;width:100px"
        = f.text_field :password ,:type=>"password",:style=>"height:10%;width:70%"
        %br
        %br
        = f.label '确认密码',:class=>"add-on",:style=>"height:10%;width:100px"
        = f.text_field :password_confirmation,:type=>"password",:style=>"height:10%;width:70%"
        %br
        %div(style="margin-top:50px" )
          =f.submit '提交', :style=>"width:40%"
      -if flash[:error]
        .label-warning(style="width:70%;margin-left:15%;background-color:#FFE4E1;" )
          %p(style="color:#7E4F05;font-size:16px" )
            =flash[:error]
      -if @user.errors.any?&&!flash[:error]
        .label-warning(style="width:70%;margin-left:15%;background-color:#FFE4E1;" )
          %p(style="color:#7E4F05;font-size:16px" )
            = @user.errors.first[1]
