%h1活动通
%div(class="index-action user-div-1" )
  %div(class="index-login user-div-2" )
    %h3(class="header-left user-h3" )
      重置密码
    %h5(class="user-h5")
      = link_to "用户登陆", new_session_path
  %div(class="index-login"style="margin-top:50px" )
    %div(class="input-prepend"style="margin:30px")
      = form_for :users,url:users_change_password_path do |f|
        = f.label "设置密码",:class=>"add-on user-on"
        = f.text_field :password ,:type=>"password",:class=>'user-input',:placeholder=>'请输入您的密码'
        %br
        %br
        = f.label '确认密码',:class=>"add-on user-on"
        = f.text_field :password_confirmation,:type=>"password",:class=>"user-input",:placeholder=>'请输入您的密码'
        %br
        %div(style="margin-top:50px" )
          =f.submit '提交', :class=>'user-btn'
      =render 'layouts/error'
      =render 'layouts/flash'
