%h1活动通
%div(class="index-action" style="text-align:center;width:550px;background-color:#e8e8e8;margin-left:30%;margin-top:5%;padding:20px")
  %div(class="index-login"style="margin-top:10px" )
    %h3(class="header-left"style="margin-left:5px;margin-top:10px;" )
      新用户注册
    %h5(style="position:absolute;right:10%;margin-top:1px")
      = link_to "用户登陆", new_session_path
  %div(class="index-login"style="margin-top:50px" )
    %div(class="input-prepend"style="margin:30px")
      = form_for :users,url: users_path(@name) do |f|
        = f.label '帐  号',:class=>"add-on",:style=>"height:10%;width:100px"
        = f.text_field :name,:style=>"height:10%;width:70%",:placeholder=>'请输入您的账号'
        %br
        %br
        = f.label "设置密码",:class=>"add-on",:style=>"height:10%;width:100px"
        = f.text_field :password ,:type=>"password",:style=>"height:10%;width:70%",:placeholder=>'请输入您的密码'
        %br
        %br
        = f.label '确认密码',:class=>"add-on",:style=>"height:10%;width:100px"
        = f.text_field :password_confirmation,:type=>"password",:style=>"height:10%;width:70%",:placeholder=>'请输入您的密码'
        %br
        %br
        = f.label '密保问题',:class=>"add-on",:style=>"height:10%;width:100px"
        = f.text_field :question,:style=>"height:10%;width:70%",:placeholder=>'请输入您的密保问题'
        %br
        %br
        = f.label '密保答案',:class=>"add-on",:style=>"height:10%;width:100px"
        = f.text_field :answer,:style=>"height:10%;width:70%" ,:placeholder=>'请输入您的密保答案'
        %br
        %div(style="text-align:center;")
        %br
        = f.submit "注 册", class: "btn-primary",:style=>"width:90%"
        %br
    -#-if @user.errors.any?&&!flash[:error]
    -#  .label-warning(style="width:70%;padding-top:1px;padding-bottom:0.5px;margin-left:15%;background-color:#FFE4E1;" )
    -#    %p(style="color:#7E4F05;font-size:15px;margin-top:5px" )
    -#      = @user.errors.first[1]
    =render 'layouts/flash'
    =render 'layouts/error'



